/*
Theme Name: Museo
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Museo is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Alignments
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
#colophon {
	margin-top: 50px;
	background-color: #1C191B;
	height: auto;
}
 
#colophon .container {
	padding: 50px 0 50px 0;
}
 

.footer-menu {
	color: #f2f2f2;
}
 
.footer-menu li {
	list-style-type:none;
	text-decoration: none;
	padding-left: 0;
		
}
 
.footer-menu li a {
	color: #f2f2f2;
}
 
.footer-menu > li:first-child > a {
	border-left:none;
}

#menu1 a,
#menu2 a{
	font-size: 16px;	
	color: #f2f2f2;

}

#menu2 h4 {
	font-size: 16px;
	color: #f2f2f2;
}

#menu1 a:hover,
#menu2 a:hover{
	text-decoration: none;
	color: #efb300;
}
.back_img{
	background-color: #000; 
	width:auto;
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center; 
}

#front_h{
	height: 100vh; 	
}
#pages_h{
	height: 90vh;
}
#post_h{
	height: 70vh;
}

#img-res{
object-fit: cover;
height: 400px;
width: 100%;
}

.opa{
	z-index: 1;
	height: 100%;
	width: 100%;


}
#fp_opa{
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9));
}
#dif_opa{
	background-color: rgba(0,0,0,.5);
}
.opa h1{
	color: #fff;
	display: inline-block;
	padding-left: 5rem;
}

#h_position_fp{
	position: relative;
	top:75%;
	margin-left: 0 auto;
}

#h_position_pages{
	position: relative;
	top:40%;
	display: inline-block;
	width: 100%;
	text-align: center;
}

#h_position_pages h1{
	padding-left: 0;
}

#h_position_pages p{
	font-size: 20px;
	color: #fff;
}

.navbar{
	margin-bottom: 0;
	border-radius: 0;

}

.navbar-brand{
	position: relative;
	transform: translateY(30%);
	visibility: hidden;
}

.navbar-inverse .navbar-brand  {
	color: #fff;
}
.navbar-inverse .navbar-brand:hover
{
	color: #efb300;
}

.navbar-inverse{
	border-color: transparent;
	background-color: transparent;
	border-color: transparent;
}
.container>.navbar-header {
    width: 100%;
}

/*social-icons*/
.icons-seis{
	display:inline-block;
    width: 64px; 
    height: 64px;
}

.idiomas{
	padding-top: 45px;
}
a{
	color: white;
}
.social-icons .fa {
	font-size: 1.8em;
}
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons .fa-facebook{background-color:#3C599F;} 

.circular-img {
  border-radius: 50%;
  width: 70%;
  height: 70%;
}
.circular-img {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}


/**********************************
error 404
******************************************/

#colophon{
	margin: auto;
}
.errorsectioan{
	padding-top: 15%;
	height: 490px;
	background-color: black;
	color: white;
	text-align: center;

}

.return{
	position: absolute;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	width: 100px;
}

/* -------------------------------------
Fullscreen Menu
-------------------------------------- */
#menu {
  background-color: #010101;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  min-height: 100%;
  padding-top: 80px;
  border:none;
  height: 100vh;
  transition: height .4s linear;
  margin: 0;
}


#menu a{
	text-decoration: none;
	color: #f2f2f2;
	font-size: 3.5rem;
}

#menu a:hover{
	color: #FFBF00;
}

#menu li{
	list-style: none;
	margin-left: 3rem;

}

#menu li a{
	font-size: 2.8rem;
}
/* -------------------------------------
-------------------------------------- */

#topbar{
	position: relative;
	z-index: 1;
	font-size: 30px;
	outline: none;
}

.custom-logo{
	vertical-align: top;
}
.custom-logo-link {
	margin-bottom: 50px;
}



.navbar-header .btn{
	color: #fff;
	background-color: transparent;
	border:none;
}

.copyFooter{
	text-align: center;
	color: #fff;
	background-color: #3E3E3E;
	height: 50px;
	padding-top: 20px;
}

ul{
	padding-left: 0;		
}

.btn-location{
	height: 10vh;
	width: 100%;
	background-color: #222;

}

.info-location{
	width: 100%;
	background-color: #222;
	transition: height .3s linear;

}

.menu_museos{
	width: 100%;
	background-color: transparent;
	transition: height .3s linear;
}



.title_fp{
	display: inline-block;
}

.title_fp p{
	padding-left: 50px;
	font-size: 28px;
	color: #fff;
}


::-webkit-scrollbar{
display: none !important;
}

#margin_PC{
	margin-top: 50px;
}

#m_i{
	font-size: 4.5rem;
}



#v_al{
	vertical-align: middle;
}

#h_card_fp{
	height: 400px;
}

#h_card_text_fp{
	height: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.valign-wrapper {
	text-align: center;
}

.valign-wrapper:before {
	content: '\200B';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.valign-wrapper > * {
	display: inline-block;
	vertical-align: middle;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.location-text {
	color: #f2f2f2;
	font-size: 1.5em;
}

.location-icons {
	font-size: 1.5em !important;
}

.location-container {
	padding-top: 1em;
	color: #f2f2f2;
}

.map-wrapper {
	height: 500px;
	padding: 0 20px 10vh 0px;
}

.timetable-text {
	font-size: 1.4em;
	padding-left: 60px;
}

.small-padding-left {
	padding-left: 50px;
}

#titulo_fp_AE{
	font-family: "Baskerville Old Face";
}
#titulo_fp_AE a{
	font-family: "Baskerville Old Face";
	text-decoration: none;
	color: #000;
}

#titulo_fp_AE a:hover{
	color: #efb300;
}

.no-click {
	pointer-events: none;
}

.no-click i,
.no-click a {
	pointer-events: auto;
}

.baskerville {
	font-family: "Baskerville Old Face" !important;
}





/*--------------------------------------------------------------
Large desktops and laptops
--------------------------------------------------------------*/
@media (min-width: 1200px) {
	h1{
		font-size: 4.5rem;
	}
	body{
		font-size: 16px;
	}
	.logo-footer{
		margin-top: -50px;
	}
	.site-footer{
		text-align: center;
	}
}


/*--------------------------------------------------------------
 Landscape tablets and medium desktops 
 --------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {
	body{
		font-size: 16px;
	}

	#t_hdn.affix{
		font-size: 2.2rem;
	}

	#m_i{
		font-size: 3rem;
	}

	.site-footer{
		text-align: center;
	}

	#menu1, #menu2{
		margin-bottom: 2rem;
	}
	.logo-footer{
		margin-top: -50px;
	}

}


/*--------------------------------------------------------------
 Portrait tablets and small desktops
 --------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
	img.custom-logo{
		width: 110px;
		height: auto;
	}

	body{
		font-size: 15px;
	}

	#t_hdn.affix{
		font-size: 1.5rem;
	}

	#m_i{
		font-size: 3rem;
	}

	.site-footer{
		text-align: center;
	}

	#menu1, #menu2{
		margin-bottom: 1.5rem;
	}
	

}


/*--------------------------------------------------------------
Landscape phones and portrait tablets
 --------------------------------------------------------------*/
@media (max-width: 767px) {
	img.custom-logo{
		width: 80px;
		height: auto;
	}
	.opa h1{
		font-size: 2.5rem;
		padding-left: 1rem;
	}
	.title_fp p{
		font-size: 1.5rem;
		padding-left: 1rem;
	}
	body{
		font-size: 15px;
	}

	#t_hdn.affix{
		font-size: 1.45rem;
	}

	#m_i{
		font-size: 3rem;
	}

	.site-footer{
		text-align: center;
	}

	#menu1, #menu2{
		margin-bottom: 2rem;
	}

	h1{
		font-size: 2.5rem;
	}
	h2{
		font-size: 2.2rem;
	}
	

}


/*--------------------------------------------------------------
Portrait phones and smaller
 -------------------------------------------------------------*/
@media (max-width: 480px) {
	h1{
		font-size: 2.5rem;
		padding-left: 1rem;
	}
	.title_fp p{
		font-size: 1rem;
		padding-left: 1rem;
	}
	img.custom-logo{
		width: 70px;
		height: auto;
	}
	#h_position_fp{
		top:70%;
	}
	body{
		font-size: 15px;
	}

	#t_hdn.affix{
		font-size: 1.35rem;
	}

	#m_i{
		font-size: 3rem;
	}

	.site-footer{
		text-align: center;
	}

	#menu1, #menu2{
		margin-bottom: 2rem;
	}
	#menu a{
		font-size: 2.7rem;
	}
	#menu li a{
		font-size: 2rem;
	}

	.navbar-brand{
		width: 260px;
		padding-right: 0;
	}

	#m_i{
		padding-top: 10px;
	}

}

@media (max-height: 568px){
	#t_hdn.affix{
		font-size: 1.2rem;
	}
	#menu a{
		font-size: 2.2rem;
	}
	#menu li a{
		font-size: 1.5rem;
	}
	.navbar-brand{
		width: 250px;
		padding-right: 0;
	}
	#m_i{
		padding-top: 10px;
	}
}

/**********************************
Affix
**************************************/

@media (min-width:768px) {
    #nv_hdn.affix-top {
		background-color:transparent;
		border-color:transparent;
    }
    #t_hdn.affix-top{
    	visibility: hidden;	
    }
}
#nv_hdn.affix {
	-webkit-transition:padding 0.2s ease-out;
	-moz-transition:padding 0.2s ease-out;  
	-o-transition:padding 0.2s ease-out;         
	transition:padding 0.2s ease-out;
	background-color: #222;
}

#t_hdn.affix{
	-webkit-transition:padding 0.2s ease-out;
	-moz-transition:padding 0.2s ease-out;  
	-o-transition:padding 0.2s ease-out;         
	transition:padding 0.2s ease-out;
	visibility: visible;
}


/**********************************
General
******************************************/

h2{
	font-size: 2.5rem;
}


body{
    background-color: #f2f2f2;
    font-size: 1.4rem;
}

a,p,h4{
	font-family: "Century Gothic";
}

h1,h2{
	font-family: "Baskerville Old Face";
}

body.esp :lang(en) {
  display: none;
}
body.en :lang(esp) {
  display: none;
}